body {
    background-color: lightsteelblue;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    font-family: "Abel", sans-serif;
    font-size: 1.3rem;
}

h1,
h2 {
    font-family: "Kalam", cursive;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.section {
    background-color: #add8e650;
    width: fit-content;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
}