<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReDirected</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Ubuntu:ital&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>Welcome to the Simple URL Redirect Service</h1>
            <p>This project helps you set up your own lightweight URL redirect system!</p>
        </div>

        <div class="section">
            <h2>How does it work?</h2>
            <p>
                Enter a keyword after the domain name, like this: <code>yourdomain.com/github</code>.<br>
                If a keyword is registered, you'll be automatically redirected to the associated link.
            </p>
        </div>

        <div class="section">
            <h2>Want to create your own?</h2>
            <p>
                Fork the repository and follow the simple steps to set up your own redirect service.<br>
                <a href="https://github.com/kausaraahmed/ReDirected.git" target="_blank">View on GitHub</a>
            </p>
        </div>

        <div class="section">
            <h2>Watch the Setup Tutorial</h2>
            <p>
                <a href="#" target="_blank">Watch the video</a> to see how to get
                started
                with this project.
            </p>
        </div>

        <footer>
            <p>Happy Redirecting &copy; KAUS4R 2024</p>
        </footer>
    </div>
</body>

</html>